<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Library</title>
    <style>
        td, th {
            padding-left: 35px;
            padding-bottom: 10px;
            text-align: left;
        }
        table {
            border-collapse: collapse;
        }
        tr {
          border: solid;
          border-width: 1px 0;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>

<h1>My Library &ndash; List of books</h1>

<table>
    <thead>
    <tr>
        <th> ID</th>
        <th> Title</th>
        <th> Pages</th>
        <th> Year</th>
        <th> Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : *{books}">
        <td th:text="*{book.id}"></td>
        <td th:text="*{book.title}"></td>
        <td th:text="*{book.pages}"></td>
        <td th:text="*{book.year}"></td>
        <td th:text="*{book.author.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>